h1, h2, h3{
color:rgb(176, 209, 255);
	font-family: 'Quattrocento Sans', sans-serif;
	font-size: 40px;
	padding-top: 15px;

}

h2, h3{
  padding-bottom: 10px;
	font-size: 20px;
	margin: 0 0 0 0px;
}

p{
color: rgb(233, 233, 233);
}

a {
color:rgb(176, 209, 255);
}

ul{
color: rgb(233, 233, 233);
}

img {
  align-content: center;
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

body{
  background: rgb(38, 37, 37);
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;

  color: rgb(117, 117, 117);
	font-family: 'Quattrocento Sans', sans-serif;
}
